<h3>About Us</h3>
<div>
		<p>            The CompanyEXUSMED™
		Five angel investors in the fields of medicine, biomedical engineering, healthcare policy and law, finance and IT, anticipating the currently growing wave in telemedical health, joined together in June, 2010 with the simple objective to bring value to all facets of healthcare – for patients, physicians, and all other players involved in the healthcare process. With the generous support of the San Diego Foundation, educational organizations, law firms, regulatory and technological corporations, and the PVRD Telemedical Incubator, the EXUSMED™ team has amassed three years of R&D and 45,000 expert hours on its proprietary patent-protected technology that will accelerate therapy, lower healthcare costs and create a better healthcare experience for both the patient and the physician.</p>
		<p>Mission Statement</p>
		<p>By leveraging innovations in technology, EXUSMED™ aims to accelerate the treatment of illnesses, provide higher quality outpatient experiences, create a better bond between patients and their healthcare providers, and create more profitable healthcare outcomes for both patients and providers.</p>
</div>