<h3>Our Blog</h3>
<div>
  <p>
            Currently, there are 860 million people worldwide living with at least one chronic disease. With those diseases, patients accrue medical bills and spend hours trying to get to doctor’s appointments and pharmacies. Not to mention the physical and mental barriers patient’s suffer with chronic diseases. What can we do as a country to help improve the lives of those suffering? Retired NBA center, Shaquille O’Neal says that mHealth is a slam dunk for the future of health, fitness and patient care.
Over the past few months, O’Neal has been engaged with Qualcomm, a technology company, learning how wireless and health technologies can improve health and the overall cost of health care. Having been personally affected with the passing of his father due to complications of diabetes, O’Neal sees the potential in mHealth and using education resources to inform patients with chronic diseases that getting the proper care is very vital to their health. </p>

<p>In the past, people had to rely on physicians for check-ups and general health tips, which usually resulted in a time-consuming, inconvenient and costly experience. Now, with the help of smart phones and tablets, there are applications that people can use to monitor their health and fitness. These apps are designed to help people manage their chronic diseases, receive highly-personalized health advice and help people stay fit during the process. Incorporating mobile health care into a person’s everyday regiment could help the United States save between $1.96 billion and $5.83 billion in health care costs.<p>
<p>“As a 7’1, 335 pound man, I am eager to learn about how I can proactively maintain my good health using today’s technology,” said O’Neal. Together, we can win big with our health if we can consistently empower others to manage their health and reduce their chances of developing a chronic disease.
Click here to read more about Shaquille O’Neal’s dedication to mHealth.
On February 8, 2014   /   Blog, Healthcare, Technology   /   Comments Off
Tags: Applications, chronic disease, diabetes, EXUSMED, Heat, Lakers, mhealth, Mobile Health Care, Qualcomm, Shaquille O'Neal, telehealth, telemedicine</p>

</div>