<h3>EXUSMED™ is changing how people access healthcare
and how providers deliver it.</h3>

<p>EXUSMED™ reduces the need for waiting rooms, hard to get appointments, and unnecessary trips to clinics or the hospital. Patients customize their healthcare services so that they receive the right treatment at the right time. EXUSMED™ accelerates remote healthcare to patients – whenever and wherever they need it.</p>
<p>EXUSMED’S programs help decrease delays in outpatient healthcare insurance premiums, address a growing physician shortage and declining reimbursement by allowing patients to quickly schedule real-time appointments with their own participating healthcare providers. Through the EXUSMED™ suite of technologies, patients can easily access their own healthcare providers and medication therapy resulting in improved continuity-of-care.</p>
</p>In early 2014, EXUSMED™ members will also have an additional unique benefit for accelerated pharmaceuticals through EXUSMED’S therapy program currently under development.</p>